* {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.home-page-container > * {
    margin: 0;
    padding: 0;
}

.home-page-container {
    display: flex;
    flex-direction: column;
}

header {
    height: 40em;
    position: relative;
    width: 100%;
}

.photo-container {
    height: 100%;
}

h1 {
    font-size: 2.5em;
    color: white;
    background: rgba(0%, 20%, 50%, 0.35)
}

h2:hover {
    font-size: 5em;

}

h2 {
    font-size: 4.5em;
    color: #6694de;
}

.header-text {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    color: white;
}

.logo-container {
    position: absolute;
    width:10em;
    top: 10px;
    right: 20px;
}

.info-container {
    background-color: #4d73db;
    padding: 2em;
}

    .info-container nav ul {
        list-style-type: none;
        display: flex;
        gap: 2em;
        align-content: center;
        justify-content: center;
    }

.home-page-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 0.8em 2em;
    border-radius: 3em;
    background-color: transparent;
}

    .home-page-container a:hover {
        color: white;
        font-size: 1.1em;
    }

.buttons-container {
    padding: 5em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

    .buttons-container > button {
        padding: 0.8em 2em;
        background-color: #4d73db;
        border: 2px solid white;
        border-radius: 3em;
        color: white;
    }

        .buttons-container > button:hover {
            box-shadow: 22px 5px 10px #b8d2e0;
        }

.location {
    height: 30em;
    display: flex;
    padding: 3em 8em;
    position: relative;
    border-radius: 1em;
    border: 2px solid #6694de;
    margin: 2em 6em;
}


.location-text {
    flex-grow: 4;
}

.address-container{
    position:absolute;
    left: 500px;
    top:160px;
    color:white;
}

    .address-container > * {
        color: white;
        font-size: 1.2em;
    }

    .address-container > p > span {
        color: #a2d5f5;
    }

    footer {
        text-align: center;
        background-color: #4d73db;
        color: white;
    }

    footer > p {
        font-weight: bold;
        padding: 1em;
    }
