img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.row {
    width: 66em;
    margin: 100px auto;
}

.main-login-container {
    display: flex;
    column-gap: 5em;
    width: 100%;
    position: relative;
}

.text-container {
    background-color: #ABC1F2;
    display: flex;
    flex-direction: column;
    padding: 5em;
    gap: 1em;
    color: white;
    text-align: center;
    padding-right: 5em;
}

    .text-container p {
        font-size: 1.5em;
    }

.span-blue {
    color: #3C64BC;
    font-weight: bold;
}

.img-container {
    width: 12em;
    margin: 0 auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    padding: 5em 10em;
    gap: 2em;
    position: absolute;
    right: 0px;
    background-color: white;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    height: 100%;
}

.regsiter-container {
    display: flex;
    flex-direction: column;
    padding: 5em 8em;
    gap: 2em;
    position: absolute;
    right: 10px;
    background-color: white;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    height: 100%;
    overflow:scroll;
}

.form-control {
    border: none;
    border-bottom: 2px solid #3C64BC;
}
