@page "/alicesmith"


<link rel="stylesheet" href="Styles/JuliaClarkeStyle.css">

<section id="stark">
    <img class="nav-icon" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png">
    <div class="profile-card">
        <div class="photo"></div>
        <div class="text-info-outer">
            <div class="text-info-inner">
                <h3>Dermatologin</h3>
                <h1>Dr. Julia Clarke</h1>
                <h2>Bewertung: 9.44/10</h2>
                <h2>Erfahrung: 9 Jahre</h2>
                <p>
                    Dr. Smith konzentriert sich auf die Hautpflege und hilft Patienten bei einer Vielzahl von Hauterkrankungen, darunter Akne, Ekzeme und Psoriasis. Mit ihrer langjährigen Erfahrung in der Dermatologie bietet sie sowohl medizinische Behandlungen als auch ästhetische Lösungen an, um das Hautbild ihrer Patienten zu verbessern. Sie verwendet modernste Technologien und Verfahren, um Hautkrankheiten effektiv zu behandeln und das Wohlbefinden ihrer Patienten zu steigern. Dr. Clarke legt großen Wert auf eine individuelle Beratung und maßgeschneiderte Behandlungskonzepte, die den spezifischen Bedürfnissen jedes Patienten gerecht werden. Sie setzt sich zudem für die Prävention von Hautkrebs ein und bietet regelmäßige Hautscreenings zur frühzeitigen Erkennung von Hautveränderungen an. Mit ihrer empathischen und professionellen Art sorgt Dr. Clarke dafür, dass ihre Patienten nicht nur medizinische Hilfe erhalten, sondern sich auch in ihrer Haut wieder wohlfühlen.
                </p>
                <img src="https://i.pinimg.com/474x/a9/29/33/a929337a256b2cae37e2b95ecdb1a6f4.jpg">
                <input id="startDate" value=@DateTime.Now class="form-control" type="datetime-local" />
                <button class="appointment-button">Termin vereinbaren</button>
            </div>
        </div>
    </div>
</section>