@page "/appointment"
@attribute [StreamRendering]

<PageTitle>Appointment</PageTitle>

<div class="app-container">
    <div class="img-container">
        <img src="/logo-id.jpg"/>
    </div>

    <form method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
        </div>

        <div>
            <label for="vorname">Vorname:</label>
            <input type="text" id="vorname" name="vorname" required />
        </div>

        <div>
            <label for="strasse">Straße und Nr.:</label>
            <input type="text" id="strasse" name="strasse" required />
        </div>

        <div>
            <label for="ort">Ort:</label>
            <input type="text" id="ort" name="ort" required />
        </div>

        <div>
            <label for="plz">PLZ:</label>
            <input type="text" id="plz" name="plz" pattern="[0-9]{5}" title="Bitte eine gültige 5-stellige PLZ eingeben" required />
        </div>

        <button type="submit">Termin buchen</button>
    </form>
</div>


<style>
    .app-container{
        display:flex;
        justify-content:center;
        margin-top:100px;
    }

    img{
        display:block;
        width:100%;
        height: auto;
    }

    .img-container{
        width:35em;
    }

    form {
        width: 35em;
        padding: 3em;
        font-family: Arial, sans-serif;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
    }

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        margin-top: 15px;
        padding: 10px 15px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>
