@page "/bobharris"

<link rel="stylesheet" href="Styles/DavidHarrisStyle.css">

<section id="stark">
    <img class="nav-icon" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png">
    <div class="profile-card">
        <div class="photo"></div>
        <div class="text-info-outer">
            <div class="text-info-inner">
                <h3>Orthopäde</h3>
                <h1>Dr. David Harris</h1>
                <h2>Bewertung: 10.00/10</h2>
                <h2>Erfahrung: 20 Jahre</h2>
                <p>
                    Dr. Harris ist spezialisiert auf die Behandlung von Erkrankungen der Knochen, Gelenke und Muskeln und hilft Patienten, sich von Verletzungen und Operationen zu erholen. Mit seiner Expertise in der Orthopädie und Rehabilitation bietet er maßgeschneiderte Behandlungspläne, die sowohl konservative Therapieansätze als auch operative Eingriffe umfassen. Dr. Harris behandelt eine Vielzahl von Erkrankungen wie Arthritis, Bandscheibenvorfälle, Knochenbrüche und Sportverletzungen. Durch moderne diagnostische Verfahren und präzise therapeutische Maßnahmen sorgt er dafür, dass Patienten eine schnelle und vollständige Genesung erfahren. Zusätzlich legt er großen Wert auf die Prävention von orthopädischen Problemen und berät seine Patienten zu ergonomischen Praktiken, Sport und Übungen, die die Muskulatur stärken und Verletzungen vorbeugen. Mit einem empathischen Ansatz begleitet er seine Patienten während des gesamten Heilungsprozesses und stellt sicher, dass sie zu einer besseren Lebensqualität zurückkehren.
                </p>
                <img src="https://i.pinimg.com/474x/a9/29/33/a929337a256b2cae37e2b95ecdb1a6f4.jpg">
                <input id="startDate" value=@DateTime.Now class="form-control" type="datetime-local" />
                <button class="appointment-button">Termin vereinbaren</button>
            </div>
        </div>
    </div>
</section>