@page "/"

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<style>
    *{
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
    }

    img{
        display:block;
        width:100%;
        height:100%;
    }

    .home-page-container > *{
        margin:0;
        padding: 0;
    }

    .home-page-container{
        display: flex;
        flex-direction:column;
    }

    header{
        height: 30em;
        position: relative;
        width:100%;
    }

    .photo-container{
        height: 100%;
    }

    h1
    {
        font-size:2.5em;
        color:white;
    }

    h2{
        font-size: 4.5em;
    }

    .header-text{
        position: absolute;
        bottom:100px;
        text-align: center;
        width:100%;
        color:white;
    }

    .info-container {
        background-color: #4d73db;
        padding: 2em;
    }

        .info-container nav ul{
                list-style-type: none;
                display: flex;
                gap: 2em;
                align-content:center;
                justify-content:center;
        }

    .home-page-container a {
            text-decoration:none;
            color: white;
            font-weight:bold;
            border: 2px solid white;
            padding: 0.8em 2em;
            border-radius: 3em;
            background-color: transparent;
        }

        .home-page-container a:hover {
            color: white;
            font-size: 1.1em;
        }

    .buttons-container{
        padding: 5em;
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .buttons-container > button {
        padding: 0.8em 2em;
            background-color: #4d73db;
            border: 2px solid white;
            border-radius: 3em;
            color:white;
    }

        .buttons-container > button:hover{
                box-shadow: 22px 5px 10px #b8d2e0;
        }

    .location{
        height: 30em;
        display: flex;
    }

    .location-text{
        flex-grow: 4; 
    }


    footer{
        text-align:center;
        background-color: #4d73db;
        color:white;
    }

    footer >  p{
        font-weight:bold;
        padding: 1em;
    }
</style>

<PageTitle>Home</PageTitle>
<div class="home-page-container">
    <header>
        <div class="photo-container">
            <img src="/homepage.jpg" />
        </div>
        <div class="header-text">
            <h2>MedicDomus</h2>
            <h1>Vertrauen, Kompetenz und Fürsorge – Seit 40 Jahren für Sie da</h1>
        </div>
    </header>
    <main class="main-container">
        <div class="info-container">
            <nav>
                <ul>
                    <li><a href="#">Mehr über uns</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Wie Sie uns finden</a></li>
                </ul>
            </nav>
        </div>
        <div class="buttons-container">
            <button>Termin vereinbaren</button>
            <button>Rechnung anschauen</button>
            <button>Daten verändern</button>
        </div>
    </main>
    <div class="location">
        <div class="location-img">
            <img src="/location.gif"/>
        </div>
        <div class="location-text">
            <img src="/blue-sky.png" />
        </div>
    </div>
    <footer>
        <p>Copyright @DateTime.Now.Year MedicDumus. All Rights Reserved</p>
    </footer>
</div>
