@page "/"

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="Styles/HomapageStyle.css">

<PageTitle>Home</PageTitle>
<div class="home-page-container">
    <header>
        <div class="logo-container">
            <img src="/logo.png" />
        </div>
        <div class="photo-container">
            <img src="/homepage.jpg" />
        </div>
        <div class="header-text">
            <h2>MedicDomus</h2>
            <h1>Vertrauen, Kompetenz und Fürsorge – Seit 40 Jahren für Sie da</h1>
        </div>
    </header>
    <main class="main-container">
        <div class="info-container">
            <nav>
                <ul>
                    <li><a href="#">Mehr über uns</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Wie Sie uns finden</a></li>
                </ul>
            </nav>
        </div>
        <div class="buttons-container">
            <button>Termin vereinbaren</button>
            <button>Rechnung anschauen</button>
            <button>Daten verändern</button>
        </div>
    </main>
    <div class="location">
        <div class="location-img">
            <img src="/location.gif" />
        </div>
        <div class="location-text">
            <img src="/location-design.jpg" />
        </div>
        <div class="address-container">         
            <p><span>Adresse: </span>Luitpoldstraße 16</p>
            <p>93047 Regensburg</p>
            <p> <span>E-mail: </span>medic@domus.de</p>
            <p><span>Telefonnummer: </span>0941 47355</p>
        </div>
    </div>
    <footer>
        <p>Copyright @DateTime.Now.Year MedicDumus. All Rights Reserved</p>
    </footer>
</div>
